<div  class="container-fluid" style="margin-top: 100px;background-color: #fafafa;">

  <div class="row">

       <div class="col-md-10">
        <br>
            <h3>Buyer Requests</h3>
       </div>
       <div class="col-md-2">
        <br>
        
         <input type="text" placeholder="search Requests" class="form-control">
      </div>
  </div>
 
     <mat-tab-group>
       <mat-tab label="Active">
   
           <table class="table table-striped ">
             <thead>
               <tr>
                 <th colspan="5">Buyer Requests</th>
               
                 <th>
                 
              
                        <select class="form-control">
                          <option selected>All Categories</option>
                          <option >Seo</option>
                          <option >Graphic Designs</option>
                        </select>
              
             
              
                 </th>  

              
               </tr>
               <tr>
                 <th>Date</th>
                 <th>Buyer</th>
                 <th>Request</th>
                 <th>Offers</th>
                 <th>Duration</th>
                 <th>Budget</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                <td>March 12,2021</td>
                <td><p><img src="assets/images/user-avatar-big-01.jpg" style="border-radius: 50%; height: 50px;width: 50px;"></p></td>
                <td>   <p>I will do software quality assurance for your website or any sort of program
               </p></td>
               <td>40</td>
                <td>5 Days</td>
                <td>Rs:12454.20</td>
               </tr>
               <tr>
                <td>March 12,2021</td>
                <td><p><img src="assets/images/user-avatar-big-01.jpg" style="border-radius: 50%; height: 50px;width: 50px;"></p></td>
                <td>   <p>I will do software quality assurance for your website or any sort of program
               </p></td>
               <td>40</td>
                <td>5 Days</td>
                <td>Rs:12454.20</td>
               </tr>
               <tr>
                <td>March 12,2021</td>
                <td><p><img src="assets/images/user-avatar-big-01.jpg" style="border-radius: 50%; height: 50px;width: 50px;"></p></td>
                <td>   <p>I will do software quality assurance for your website or any sort of program
               </p></td>
               <td>40</td>
                <td>5 Days</td>
                <td>Rs:12454.20</td>
               </tr>
               <tr>
                <td>March 12,2021</td>
                <td><p><img src="assets/images/user-avatar-big-01.jpg" style="border-radius: 50%; height: 50px;width: 50px;"></p></td>
                <td>   <p>I will do software quality assurance for your website or any sort of program
               </p></td>
               <td>40</td>
                <td>5 Days</td>
                <td>Rs:12454.20</td>
               </tr>
            
             </tbody>
           </table>

  
  
   
   
       </mat-tab>
       <mat-tab label="Send Offers ">
        <div class="row">
          <div class="col-md-1">
            <p>Date</p>
           </div>
           <div class="col-md-1">
           <p>Buyer</p>
           </div>
           <div class="col-md-6">
                <p>Request</p>
           </div>
           <div class="col-md-1">
             <p>Offers</p>
        </div>
        <div class="col-md-1">
         <p>Durayion</p>
    </div>
    <div class="col-md-2">
           Budget
    </div>
        </div>   
      
      </mat-tab>
   
     </mat-tab-group>
 
  
</div>