

<div  class="container-fluid" style="margin-top: 100px;">
  <div class="row">
         <div class="col-md-1">

         </div>
 <div class="col-md-11">
  <h2>What Service Are You Looking For?</h2>
  <br>
</div>
  </div>

  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-11">
     <h5>Describe the service you're looking to purchase - please be as detailed as possible:</h5>
   </div>

  
     </div>

     <div class="row">
      <div class="col-md-1">

      </div>
             <div class="col-md-10">
<textarea class="form-control" placeholder="I Am looking For"></textarea>
<p style="float: right;">   0/2500</p>
            </div>
            <div class="col-md-1">

            </div>
    </div>
    <div class="row">
      <div class="col-md-1">

      </div>
        <div class="col-md-4">
         <input  type="file" value="Attach Files">
        </div>
    </div>
 <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-1">

      </div>
        <div class="col-md-5">
          <label>Choose a category :</label>
         <select class="form-control">
           
               <option selected>Graphics And Designs</option>
               <option>Graphics And Designs</option>
               <option>Graphics And Designs</option>
         </select>
        </div>
        <div class="col-md-5">
          <label>Choose a Sub category :</label>
          <select class="form-control">
            
                <option selected>Sub Category</option>
                <option>Graphics And Designs</option>
                <option>Graphics And Designs</option>
          </select>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-11">
        <br>
        <h5>Once you place your order, when would you like your service delivered?</h5>
        <br>
        <div class="col-md-4">
          <select class="form-control">
            
            <option selected>2 Days</option>
            <option>3 Days</option>
            <option>7 Days</option>
            <option>Other</option>
      </select>
        </div>
    
      </div>


    </div>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <br>
        <h5>What is your budget for this service?</h5>
        <br>
        <div class="col-md-4">
          <input type="number" placeholder="Rs" class="form-control">
        </div>
    
      </div>


    </div>
    <div class="row">
     <br>
     <hr>
      <div class="col-md-12">
        <button class="btn btn-success" style="float: right;">Submit Request</button>
        <br>
      </div>

    </div>
    <div class="row">
      <br>
   
       <div class="col-md-12">
         
         <br>
       </div>
 
     </div>

</div>


