.d{
    content: "\f017";
}


.Basicclick{
    font-weight: bold;
    color: black;
    background-color: white;
}
.Basicunclick{
    color: black;
    background-color: #f9f9f9;  
}

.standrdClicked{
    font-weight: bold;
    background-color: white;
}
.Standredunclicked{
    color: black;
  background-color: #f9f9f9;  
}
.premclicked{
  color: black;
    font-weight: bold;

      background-color:white;  
}
.premunclicked{
    color: black;
    background-color: #f9f9f9;   
}

.horizontal { display: inline }