.img {
    background-image: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/seller_dashboard_perseus/apps/image.b40cc40.svg);
    background-repeat: no-repeat;
    display: block;
    width: 171px;
    height: 186px;
    margin: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.chat{

    height: 200px;
    overflow: scroll;
  }