<div class="section padding-top-65 padding-bottom-65" style="margin-top: 40px;">
	<div class="container">
    <div class="row">
<div class="col-md-4">
  <img src="assets/images/user-avatar-small-01.jpg" style="height:400px;">

</div>
<div class="col-md-8">
  <div class="row">

    <div class="col-xl-12">
      <!-- Section Headline -->
      <div class="section-headline centered margin-top-0 margin-bottom-5">
        <h3>What makes a successful Fiverr profile?</h3>
        <p>Your first impression matters! Create a profile that will stand out from the crowd on Fiverr.</p>
      </div>
    </div>
    
    <div class="col-xl-4 col-md-4">
      <!-- Icon Box -->
      <div class="icon-box with-line">
        <!-- Icon -->
        <div class="icon-box-circle">
          <div class="icon-box-circle-inner">
            <i class="icon-line-awesome-lock"></i>
            <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
          </div>
        </div>
        <h3>Create an Account</h3>
        <p style="text-align: justify;">Take your time in creating your profile so it’s exactly as you want it to be.</p>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <!-- Icon Box -->
      <div class="icon-box with-line">
        <!-- Icon -->
        <div class="icon-box-circle">
          <div class="icon-box-circle-inner">
            <i class="icon-line-awesome-legal"></i>
            <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
          </div>
        </div>
        <h3>Post a Task</h3>
        <p style="text-align: justify;">Add credibility by linking out to your relevant professional networks..</p>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <!-- Icon Box -->
      <div class="icon-box">
        <!-- Icon -->
        <div class="icon-box-circle">
          <div class="icon-box-circle-inner">
            <i class=" icon-line-awesome-trophy"></i>
            <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
          </div>
        </div>
        <h3>Choose an Expert</h3>
        <p style="text-align: justify;">Nanotechnology immersion along the information highway will close the loop on focusing solely.</p>
      </div>
    </div>
    <div class="col-xl-4 col-md-4">
      <!-- Icon Box -->
      <div class="icon-box with-line">
        <!-- Icon -->
        <div class="icon-box-circle">
          <div class="icon-box-circle-inner">
            <i class="icon-line-awesome-legal"></i>
            <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
          </div>
        </div>
        <h3>Accurately describe</h3>
        <p style="text-align: justify;">Accurately describe your professional skills to help you get more work..</p>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <!-- Icon Box -->
      <div class="icon-box">
        <!-- Icon -->
        <div class="icon-box-circle">
          <div class="icon-box-circle-inner">
            <i class=" icon-line-awesome-trophy" style="height:20px ;"></i>
            <div class="icon-box-check" ><i class="icon-material-outline-check"></i></div>
          </div>
        </div>
        <h3>profile picture </h3>
        <p style="text-align: justify;">To keep our community secure for everyone, we may ask you to verify your ID.</p>
      </div>
    </div>
    
    <div class="col-xl-4 col-md-4">
      <!-- Icon Box -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
<div class="col-md-7">
  <input type="button" [routerLink]="['/seller/level4']" class="button" value="Continue">
</div>
<div class="col-md-5" >
  <input type="button" style="padding:10% ;" [routerLink]="['/seller/level2']" class="button" value="Back">
</div>
      </div>
      
   
				
    </div>

  </div>
</div>
    </div>
  
	</div>
</div>