

<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="contact-location-info margin-bottom-50">
			      <div class="row">
              <div class="col-xl-7">
                  <p style="font-size: 27px;">Ready to start selling on Fiverr? Here’s the breakdown:</p>
                  <hr>
                  <h4>
                    Learn what makes a successful profile
                    Discover the do’s and don’ts to ensure you’re always on the right track.</h4>
                    <hr>
                    <h4>
                      Create your seller profile
Add your profile picture, description, and professional information.
                    </h4>
                    <hr>
                    <h4>
                      Publish your Gig
Create a Gig of the service you’re offering and start selling instantly.
                    </h4>
                    <hr>
					<div class="col-xl-4">
						<input type="button" [routerLink]="['/seller/level3']" class="button" value="Continue">
				
					</div>
              </div>
              <div class="col-xl-5">
				<iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
				</iframe>
              </div>

            </div>
			</div>
		</div>


	</div>

</div>
<!-- Container / End -->



  